/* Generated from tbuilder_layout_part: 62 */
.themify_builder_content-62 .tb_n5zl629.module_row{background-color:rgba(51, 51, 51, 1.00);}
.themify_builder_content-62 .tb_ierz632.module_subrow{text-align:center;}
.themify_builder_content-62 .tb_jloc634.module_column{padding-top:20px;}
.themify_builder_content-62 .tb_oa0v634.module-menu .nav li{font-size:14px;}
.themify_builder_content-62 .tb_oa0v634.module-menu .nav{text-align:center;}
.themify_builder_content-62 .tb_oa0v634.module-menu.module .nav > li > a{color:rgba(255, 255, 255, 1.00);}
.themify_builder_content-62 .tb_h90a635.module_column{text-align:center;}
.themify_builder_content-62 .tb_2y7e635.module-icon{text-align:center;}
.themify_builder_content-62 .tb_2y7e635.module-icon .module-icon-item i{color:rgba(255, 255, 255, 1.00);}
.themify_builder_content-62 .tb_zvol629.module_row{background-color:#_; padding-top:45px; padding-bottom:20px; border-bottom:1px solid rgba(240, 240, 240, 1.00);}
.themify_builder_content-62 .tb_4ej6637.module-image a{color:rgba(0, 0, 0, 1.00);}
.themify_builder_content-62 .tb_4ej6637.module-image.module .image-title{font-size:14px;}
.themify_builder_content-62 .tb_8yvl637.module-image a{color:rgba(0, 0, 0, 1.00);}
.themify_builder_content-62 .tb_8yvl637.module-image.module .image-title{font-size:14px;}
.themify_builder_content-62 .tb_2abv638.module-image a{color:rgba(0, 0, 0, 1.00);}
.themify_builder_content-62 .tb_2abv638.module-image.module .image-title{font-size:14px;}
.themify_builder_content-62 .tb_v8qa638.module-image a{color:rgba(0, 0, 0, 1.00);}
.themify_builder_content-62 .tb_v8qa638.module-image.module .image-title{font-size:14px;}
.themify_builder_content-62 .tb_j2jg639.module-image a{color:rgba(0, 0, 0, 1.00);}
.themify_builder_content-62 .tb_j2jg639.module-image.module .image-title{font-size:14px;}
.themify_builder_content-62 .tb_igih639.module-image a{color:rgba(0, 0, 0, 1.00);}
.themify_builder_content-62 .tb_igih639.module-image.module .image-title{font-size:14px;}
/* Builder Custom CSS START */
#headerwrap{
display:none;
}
/* Builder Custom CSS END */