/* Generated from page: allitem */
.themify_builder_content-78 .tb_5xxv652.module_row{padding-top:9%;}
.themify_builder_content-78 .tb_y7af657.module_subrow{margin-bottom:30px;}
.themify_builder_content-78 .tb_2tmd666.module-text{padding-left:10px; padding-right:10px;}
.themify_builder_content-78 .tb_8s2l668.module_subrow{margin-bottom:30px;}
.themify_builder_content-78 .tb_qp89670.module-text{padding-left:10px; padding-right:10px;}
.themify_builder_content-78 .tb_2nv0652.module_row{padding-top:30px;}
.themify_builder_content-78 .tb_wria672.module_subrow{margin-bottom:30px;}
.themify_builder_content-78 .tb_h65a674.module-text{margin-left:10px; margin-right:10px; padding-left:10px;}
.themify_builder_content-78 .tb_bxlj674.module-buttons{font-style:normal;}
.themify_builder_content-78 .tb_46j5652.module_row{text-align:center;}

@media screen and (max-width: 680px) {
.themify_builder_content-78 .tb_7hvq664.module-image{z-index:2;}
.themify_builder_content-78 .tb_ki0y669.module-image{z-index:2;}
.themify_builder_content-78 .tb_gw8m673.module-image{z-index:2;}
}