/* Generated from items: %e5%95%86%e5%93%81%ef%bc%91 */
.themify_builder_content-35 .tb_7828ce0.module_row{background-image:url(https://themify.me/demo/themes/builder-sticky/files/2018/09/imac-wallpaper-1.jpg); background-repeat:no-repeat;background-size:cover; background-attachment:scroll; background-position:center center; background-color:rgba(0, 0, 0, 1); padding-top:12%; padding-bottom:10%;}
.themify_builder_content-35 .tb_5688814.module-image{margin-bottom:70px; z-index:1;}
.themify_builder_content-35 .tb_e17dde9.module-text .tb_text_wrap,.themify_builder_content-35 .tb_e17dde9.module-text .tb_text_wrap p,.themify_builder_content-35 .tb_e17dde9.module-text .tb_text_wrap blockquote,.themify_builder_content-35 .tb_e17dde9.module-text .tb_text_wrap h1,.themify_builder_content-35 .tb_e17dde9.module-text .tb_text_wrap h2,.themify_builder_content-35 .tb_e17dde9.module-text .tb_text_wrap h3,.themify_builder_content-35 .tb_e17dde9.module-text .tb_text_wrap h4,.themify_builder_content-35 .tb_e17dde9.module-text .tb_text_wrap h5,.themify_builder_content-35 .tb_e17dde9.module-text .tb_text_wrap h6,.themify_builder_content-35 .tb_e17dde9.module-text .tb_text_wrap li,.themify_builder_content-35 .tb_e17dde9.module-text .tb_text_wrap span{color:rgba(255, 255, 255, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-35 .tb_e17dde9.module-text{text-align:center; z-index:3;}
.themify_builder_content-35 .tb_e17dde9.module-text.module .tb_text_wrap h1{font-family:"Oswald";}
.themify_builder_content-35 .tb_e17dde9.module-text.module h1{font-weight:regular; font-size:50px; text-transform:uppercase;}
.themify_builder_content-35 .tb_6c6c332.module_row{background-color:rgba(0, 0, 0, 1); padding-top:13%; padding-bottom:13%;}
.themify_builder_content-35 .tb_1636680.module_column,.themify_builder_content-35 .tb_1636680.module_column p,.themify_builder_content-35 .tb_1636680.module_column h1,.themify_builder_content-35 .tb_1636680.module_column h2,.themify_builder_content-35 .tb_1636680.module_column h3:not(.module-title),.themify_builder_content-35 .tb_1636680.module_column h4,.themify_builder_content-35 .tb_1636680.module_column h5,.themify_builder_content-35 .tb_1636680.module_column h6{color:rgba(255, 255, 255, 1);}
.themify_builder_content-35 .tb_310eef4.module-text .tb_text_wrap,.themify_builder_content-35 .tb_310eef4.module-text .tb_text_wrap p,.themify_builder_content-35 .tb_310eef4.module-text .tb_text_wrap blockquote,.themify_builder_content-35 .tb_310eef4.module-text .tb_text_wrap h1,.themify_builder_content-35 .tb_310eef4.module-text .tb_text_wrap h2,.themify_builder_content-35 .tb_310eef4.module-text .tb_text_wrap h3,.themify_builder_content-35 .tb_310eef4.module-text .tb_text_wrap h4,.themify_builder_content-35 .tb_310eef4.module-text .tb_text_wrap h5,.themify_builder_content-35 .tb_310eef4.module-text .tb_text_wrap h6,.themify_builder_content-35 .tb_310eef4.module-text .tb_text_wrap li,.themify_builder_content-35 .tb_310eef4.module-text .tb_text_wrap span{color:rgba(255, 255, 255, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-35 .tb_310eef4.module-text{font-size:1.3em; text-align:left; z-index:3;}
.themify_builder_content-35 .tb_310eef4.module-text.module h2{font-size:40px;}
.themify_builder_content-35 .tb_310eef4.module-text.module .tb_text_wrap h3:not(.module-title){font-family:"Abel"; color:rgba(0, 219, 238, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-35 .tb_310eef4.module-text.module h3{font-weight:regular; font-size:50px; margin-bottom:24px;}
.themify_builder_content-35 .tb_f2d9876.module_row{background-image:url(https://themify.me/demo/themes/builder-sticky/files/2018/09/imac-wallpaper-2.jpg); background-repeat:no-repeat;background-position:50%;background-size:100%; background-attachment:scroll; background-position:center center; background-color:rgba(0, 0, 0, 1);}
.themify_builder_content-35 .tb_f2d9876.module_row>.builder_row_cover::before,.themify_builder_content-35 .tb_f2d9876.module_row>.ms-tableCell>.builder_row_cover::before{background-image:linear-gradient(180deg,rgba(0, 0, 0, 0.13) 67%,rgba(28, 28, 28, 0.97) 100%);}
.themify_builder_content-35 .tb_b2e254e.module_row{background-color:rgba(31, 31, 31, 1);}
.themify_builder_content-35 .tb_s2w0851.module-text .tb_text_wrap,.themify_builder_content-35 .tb_s2w0851.module-text .tb_text_wrap p,.themify_builder_content-35 .tb_s2w0851.module-text .tb_text_wrap blockquote,.themify_builder_content-35 .tb_s2w0851.module-text .tb_text_wrap h1,.themify_builder_content-35 .tb_s2w0851.module-text .tb_text_wrap h2,.themify_builder_content-35 .tb_s2w0851.module-text .tb_text_wrap h3,.themify_builder_content-35 .tb_s2w0851.module-text .tb_text_wrap h4,.themify_builder_content-35 .tb_s2w0851.module-text .tb_text_wrap h5,.themify_builder_content-35 .tb_s2w0851.module-text .tb_text_wrap h6,.themify_builder_content-35 .tb_s2w0851.module-text .tb_text_wrap li,.themify_builder_content-35 .tb_s2w0851.module-text .tb_text_wrap span{color:rgba(255, 255, 255, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-35 .tb_s2w0851.module-text{text-align:center; margin-top:10%; margin-bottom:5%; z-index:3;}
.themify_builder_content-35 .tb_s2w0851.module-text.module .tb_text_wrap h3:not(.module-title){font-family:"Oswald";}
.themify_builder_content-35 .tb_s2w0851.module-text.module h3{font-weight:regular; font-size:65px; text-transform:uppercase;}
.themify_builder_content-35 .tb_af41591.module-image{margin-top:60px; margin-bottom:60px;}
.themify_builder_content-35 .tb_ca0015b.module_row{background-image:linear-gradient(180deg,rgba(31, 31, 31, 0.01) 0%,rgb(31, 31, 31) 12%); padding-top:100px; margin-top:-80px;}
.themify_builder_content-35 .tb_585ab46.module-text .tb_text_wrap,.themify_builder_content-35 .tb_585ab46.module-text .tb_text_wrap p,.themify_builder_content-35 .tb_585ab46.module-text .tb_text_wrap blockquote,.themify_builder_content-35 .tb_585ab46.module-text .tb_text_wrap h1,.themify_builder_content-35 .tb_585ab46.module-text .tb_text_wrap h2,.themify_builder_content-35 .tb_585ab46.module-text .tb_text_wrap h3,.themify_builder_content-35 .tb_585ab46.module-text .tb_text_wrap h4,.themify_builder_content-35 .tb_585ab46.module-text .tb_text_wrap h5,.themify_builder_content-35 .tb_585ab46.module-text .tb_text_wrap h6,.themify_builder_content-35 .tb_585ab46.module-text .tb_text_wrap li,.themify_builder_content-35 .tb_585ab46.module-text .tb_text_wrap span{color:rgba(0, 219, 238, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-35 .tb_585ab46.module-text.module .tb_text_wrap h3:not(.module-title){font-family:"Abel";}
.themify_builder_content-35 .tb_585ab46.module-text.module h3{font-weight:regular; font-size:66px;}
.themify_builder_content-35 .tb_xva9585.module-text.module .tb_text_wrap h3:not(.module-title){font-family:"Abel"; color:rgba(0, 237, 209, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-35 .tb_xva9585.module-text.module h3{font-weight:400; font-size:24px;}
.themify_builder_content-35 .tb_9x30888.module-text{text-align:center;}
.themify_builder_content-35 .tb_9x30888.module-text.module .tb_text_wrap h3:not(.module-title){font-family:"Oswald"; color:rgba(0, 219, 238, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-35 .tb_9x30888.module-text.module h3{font-weight:300; font-size:4em;}
.themify_builder_content-35 .tb_g38a083.module-text.module .tb_text_wrap h3:not(.module-title){font-family:"Abel"; color:rgba(0, 237, 209, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-35 .tb_g38a083.module-text.module h3{font-weight:400; font-size:24px;}
.themify_builder_content-35 .tb_fxht869.module-text{text-align:center;}
.themify_builder_content-35 .tb_fxht869.module-text.module .tb_text_wrap h3:not(.module-title){font-family:"Oswald"; color:rgba(0, 219, 238, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-35 .tb_fxht869.module-text.module h3{font-weight:300; font-size:4em;}
.themify_builder_content-35 .tb_70mc188.module-text.module .tb_text_wrap h3:not(.module-title){font-family:"Abel"; color:rgba(0, 237, 209, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-35 .tb_70mc188.module-text.module h3{font-weight:400; font-size:24px;}
.themify_builder_content-35 .tb_hogh855.module-text{text-align:center;}
.themify_builder_content-35 .tb_hogh855.module-text.module .tb_text_wrap h3:not(.module-title){font-family:"Oswald"; color:rgba(0, 219, 238, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-35 .tb_hogh855.module-text.module h3{font-weight:300; font-size:4em;}
.themify_builder_content-35 .tb_b2e293e.module_row{background-color:rgba(0, 0, 0, 1); padding-bottom:8%;}
.themify_builder_content-35 .tb_b2e293e.module_row>.tb_row_frame_top,.themify_builder_content-35 .tb_b2e293e.module_row > .fp-tableCell > .tb_row_frame_top{background-image:url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20preserveAspectRatio%3D%22none%22%20viewBox%3D%220%200%201500%20150%22%3E%3Cpath%20fill%3D%22rgba(31%2C%2031%2C%2031%2C%201)%22%20d%3D%22M1500%2C150V0H0L1500%2C150z%22%2F%3E%3C%2Fsvg%3E");height:63%;}
.themify_builder_content-35 .tb_bb7540a.module_column{text-align:right;}
.themify_builder_content-35 .tb_3a24143.module-text .tb_text_wrap,.themify_builder_content-35 .tb_3a24143.module-text .tb_text_wrap p,.themify_builder_content-35 .tb_3a24143.module-text .tb_text_wrap blockquote,.themify_builder_content-35 .tb_3a24143.module-text .tb_text_wrap h1,.themify_builder_content-35 .tb_3a24143.module-text .tb_text_wrap h2,.themify_builder_content-35 .tb_3a24143.module-text .tb_text_wrap h3,.themify_builder_content-35 .tb_3a24143.module-text .tb_text_wrap h4,.themify_builder_content-35 .tb_3a24143.module-text .tb_text_wrap h5,.themify_builder_content-35 .tb_3a24143.module-text .tb_text_wrap h6,.themify_builder_content-35 .tb_3a24143.module-text .tb_text_wrap li,.themify_builder_content-35 .tb_3a24143.module-text .tb_text_wrap span{color:rgba(199, 199, 199, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-35 .tb_3a24143.module-text{font-size:18px; line-height:1.2em;}
.themify_builder_content-35 .tb_2b67afb.module-buttons .module-buttons-item a span,.themify_builder_content-35 .tb_2b67afb.module-buttons .module-buttons-item a i{color:rgba(0, 219, 238, 1);}
.themify_builder_content-35 .tb_2b67afb.module-buttons.module .module-buttons .module-buttons-item a{border:1px solid rgba(0, 219, 238, 1);}

@media screen and (max-width: 768px) {
.themify_builder_content-35 .tb_6c6c332.module_row{padding-top:12%; padding-bottom:12%;}
.themify_builder_content-35 .tb_1636680.module_column{padding:3%;}
.themify_builder_content-35 .tb_9fac6df.module_column{padding:3%;}
.themify_builder_content-35 .tb_310eef4.module-text{text-align:center;}
.themify_builder_content-35 .tb_310eef4.module-text.module .tb_text_wrap h3:not(.module-title){font-family:"Abel";}
.themify_builder_content-35 .tb_310eef4.module-text.module h3{font-weight:400;}
.themify_builder_content-35 .tb_s2w0851.module-text{text-align:center;}
.themify_builder_content-35 .tb_s2w0851.module-text.module h3{font-size:45px;}
.themify_builder_content-35 .tb_585ab46.module-text{text-align:center; margin-bottom:30px;}
.themify_builder_content-35 .tb_585ab46.module-text.module .tb_text_wrap h3:not(.module-title){font-family:"Abel";}
.themify_builder_content-35 .tb_585ab46.module-text.module h3{font-weight:400;}
.themify_builder_content-35 .tb_xva9585.module-text{text-align:center;}
.themify_builder_content-35 .tb_xva9585.module-text.module .tb_text_wrap h3:not(.module-title){font-family:"Abel";}
.themify_builder_content-35 .tb_xva9585.module-text.module h3{font-weight:400;}
.themify_builder_content-35 .tb_g38a083.module-text{text-align:center;}
.themify_builder_content-35 .tb_g38a083.module-text.module .tb_text_wrap h3:not(.module-title){font-family:"Abel";}
.themify_builder_content-35 .tb_g38a083.module-text.module h3{font-weight:400;}
.themify_builder_content-35 .tb_70mc188.module-text{text-align:center;}
.themify_builder_content-35 .tb_70mc188.module-text.module .tb_text_wrap h3:not(.module-title){font-family:"Abel";}
.themify_builder_content-35 .tb_70mc188.module-text.module h3{font-weight:400;}
.themify_builder_content-35 .tb_cb1ffc7.module_subrow{text-align:center;}
.themify_builder_content-35 .tb_bb7540a.module_column{padding:3%;}
.themify_builder_content-35 .tb_2b67afb.module-buttons{text-align:center; margin-bottom:30px;}
}