/* Generated from page: %e3%83%88%e3%83%83%e3%83%97%e3%83%9a%e3%83%bc%e3%82%b8 */
.themify_builder_content-31 .tb_3l8v649.module_row{padding-bottom:16%; padding-top:12%; background-position:50% 46.25%; background-attachment:scroll; background-repeat:no-repeat;background-size:cover; background-image:url(https://themify.me/demo/themes/ultra-yoga/files/2020/02/pricing-hero-bg.jpg); background-color:rgba(240, 233, 249, 1);}
.themify_builder_content-31 .tb_3l8v649.module_row>.tb_row_frame_bottom,.themify_builder_content-31 .tb_3l8v649.module_row > .fp-tableCell > .tb_row_frame_bottom{background-image:url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20preserveAspectRatio%3D%22none%22%20viewBox%3D%220%200%201500%20150%22%20fill%3D%22rgba(255%2C%20255%2C%20255%2C%201)%22%3E%3Cpath%20opacity%3D%22.5%22%20d%3D%22M672.636%2066.505l128.127%2021.528-235.1-51.34C459.76%2013.566%20289.567%2020.675%20187.46%2052.5L118.5%2073.984%20209.25%2058.8c115.087-19.246%20323.6-15.778%20463.386%207.706z%22%2F%3E%3Cpath%20opacity%3D%22.6%22%20d%3D%22M0%2093.792V110.9l118.508-36.925L0%2093.792z%22%2F%3E%3Cpath%20d%3D%22M0%200v93.792l118.508-19.818L187.46%2052.5c102.108-31.815%20272.3-38.924%20378.203-15.797l235.1%2051.34%2085.602%2014.383c139.774%2023.484%20335.023%2031.15%20433.886%2017.038L1500%2093.792V0H0z%22%2F%3E%3Cpath%20opacity%3D%22.5%22%20d%3D%22M886.364%20102.416l-85.602-14.383%20147.186%2032.142c105.903%2023.127%20273.44%2030.5%20372.302%2016.387L1500%20110.9V93.792l-179.75%2025.662c-98.862%2014.113-294.1%206.446-433.886-17.038z%22%2F%3E%3C%2Fsvg%3E");width:100%;height:20%;}
.themify_builder_content-31 .tb_3l8v649.module_row .module h3{font-style:normal;}
.themify_builder_content-31 .tb_3l8v649.module_row .module h1{font-size:65px;}
.themify_builder_content-31 .tb_mdth649.module_row{text-align:center; padding-top:5%; padding-bottom:5%;}
.themify_builder_content-31 .tb_mdth649.module_row .module h2{font-size:55px;}
.themify_builder_content-31 .tb_mzox654.module-text{margin-bottom:60px; text-align:center;}
.themify_builder_content-31 .tb_mzox654.module-text.module h3{font-size:60px;}
.themify_builder_content-31 .tb_mzox654.module-text .tb_text_wrap,.themify_builder_content-31 .tb_mzox654.module-text .tb_text_wrap p,.themify_builder_content-31 .tb_mzox654.module-text .tb_text_wrap blockquote,.themify_builder_content-31 .tb_mzox654.module-text .tb_text_wrap h1,.themify_builder_content-31 .tb_mzox654.module-text .tb_text_wrap h2,.themify_builder_content-31 .tb_mzox654.module-text .tb_text_wrap h3,.themify_builder_content-31 .tb_mzox654.module-text .tb_text_wrap h4,.themify_builder_content-31 .tb_mzox654.module-text .tb_text_wrap h5,.themify_builder_content-31 .tb_mzox654.module-text .tb_text_wrap h6,.themify_builder_content-31 .tb_mzox654.module-text .tb_text_wrap li,.themify_builder_content-31 .tb_mzox654.module-text .tb_text_wrap span{color:rgba(0, 0, 0, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-31 .tb_0m8p656.module_column,.themify_builder_content-31 .tb_0m8p656.module_column p,.themify_builder_content-31 .tb_0m8p656.module_column h1,.themify_builder_content-31 .tb_0m8p656.module_column h2,.themify_builder_content-31 .tb_0m8p656.module_column h3:not(.module-title),.themify_builder_content-31 .tb_0m8p656.module_column h4,.themify_builder_content-31 .tb_0m8p656.module_column h5,.themify_builder_content-31 .tb_0m8p656.module_column h6{color:rgba(255, 255, 255, 1);}
.themify_builder_content-31 .tb_0m8p656.module_column{background-color:rgba(124, 16, 247, 1); padding-top:5%; padding-left:4%; padding-bottom:5%; padding-right:4%; box-shadow:0px 3px 12px 0px rgba(0, 0, 0, 0.14);}
.themify_builder_content-31 .tb_0m8p656.module_column,.themify_builder_content-31 .tb_0m8p656.module_column>.builder_row_cover::before,.themify_builder_content-31 .tb_0m8p656.module_column>.ms-tableCell>.builder_row_cover::before{border-radius:10px;}
.themify_builder_content-31 .tb_praa657.module-text{margin-bottom:20px;}
.themify_builder_content-31 .tb_nn2b659.module_column,.themify_builder_content-31 .tb_nn2b659.module_column p,.themify_builder_content-31 .tb_nn2b659.module_column h1,.themify_builder_content-31 .tb_nn2b659.module_column h2,.themify_builder_content-31 .tb_nn2b659.module_column h3:not(.module-title),.themify_builder_content-31 .tb_nn2b659.module_column h4,.themify_builder_content-31 .tb_nn2b659.module_column h5,.themify_builder_content-31 .tb_nn2b659.module_column h6{color:rgba(255, 255, 255, 1);}
.themify_builder_content-31 .tb_nn2b659.module_column{background-color:rgba(211, 20, 177, 1); padding-top:5%; padding-left:4%; padding-bottom:5%; padding-right:4%; box-shadow:0px 3px 12px 0px rgba(0, 0, 0, 0.11);}
.themify_builder_content-31 .tb_nn2b659.module_column,.themify_builder_content-31 .tb_nn2b659.module_column>.builder_row_cover::before,.themify_builder_content-31 .tb_nn2b659.module_column>.ms-tableCell>.builder_row_cover::before{border-radius:10px;}
.themify_builder_content-31 .tb_oyn5660.module-text{margin-bottom:20px;}
.themify_builder_content-31 .tb_o8n5662.module_column,.themify_builder_content-31 .tb_o8n5662.module_column p,.themify_builder_content-31 .tb_o8n5662.module_column h1,.themify_builder_content-31 .tb_o8n5662.module_column h2,.themify_builder_content-31 .tb_o8n5662.module_column h3:not(.module-title),.themify_builder_content-31 .tb_o8n5662.module_column h4,.themify_builder_content-31 .tb_o8n5662.module_column h5,.themify_builder_content-31 .tb_o8n5662.module_column h6{color:rgba(255, 255, 255, 1);}
.themify_builder_content-31 .tb_o8n5662.module_column{background-color:rgba(255, 96, 0, 1); padding-top:5%; padding-left:4%; padding-bottom:5%; padding-right:4%; box-shadow:0px 3px 12px 0px rgba(0, 0, 0, 0.11);}
.themify_builder_content-31 .tb_o8n5662.module_column,.themify_builder_content-31 .tb_o8n5662.module_column>.builder_row_cover::before,.themify_builder_content-31 .tb_o8n5662.module_column>.ms-tableCell>.builder_row_cover::before{border-radius:10px;}
.themify_builder_content-31 .tb_7wri662.module-text{margin-bottom:20px;}
.themify_builder_content-31 .tb_7iy7649.module_row{padding-bottom:5%; padding-top:2%;}
.themify_builder_content-31 .tb_7iy7649.module_row .module h2{font-size:55px;}
.themify_builder_content-31 .tb_lp0m665.module-text{margin-bottom:50px; text-align:center;}
.themify_builder_content-31 .tb_lp0m665.module-text.module h3{font-size:60px;}
.themify_builder_content-31 .tb_lp0m665.module-text .tb_text_wrap,.themify_builder_content-31 .tb_lp0m665.module-text .tb_text_wrap p,.themify_builder_content-31 .tb_lp0m665.module-text .tb_text_wrap blockquote,.themify_builder_content-31 .tb_lp0m665.module-text .tb_text_wrap h1,.themify_builder_content-31 .tb_lp0m665.module-text .tb_text_wrap h2,.themify_builder_content-31 .tb_lp0m665.module-text .tb_text_wrap h3,.themify_builder_content-31 .tb_lp0m665.module-text .tb_text_wrap h4,.themify_builder_content-31 .tb_lp0m665.module-text .tb_text_wrap h5,.themify_builder_content-31 .tb_lp0m665.module-text .tb_text_wrap h6,.themify_builder_content-31 .tb_lp0m665.module-text .tb_text_wrap li,.themify_builder_content-31 .tb_lp0m665.module-text .tb_text_wrap span{color:rgba(0, 0, 0, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-31 .tb_7b39665.module-accordion.module .accordion-title{font-style:normal;}
.themify_builder_content-31 .tb_7b39665.module-accordion .ui.module-accordion .accordion-title{font-size:22px; font-weight:600;font-family:"Poppins"; letter-spacing:1px;}
.themify_builder_content-31 .tb_7b39665.module-accordion .ui.module-accordion .tb_title_accordion{color:rgba(0, 0, 0, 1);}
.themify_builder_content-31 .tb_7b39665.module-accordion .ui.module-accordion > li{border-bottom-style:none; border-top:1px solid rgba(224, 224, 224, 1); border-bottom:none; padding-top:18px;}
.themify_builder_content-31 .tb_7b39665.module-accordion .ui.module-accordion .accordion-title .accordion-icon{color:rgba(0, 0, 0, 1);}
.themify_builder_content-31 .tb_7b39665.module-accordion .ui.module-accordion .accordion-title .accordion-active-icon{color:rgba(0, 0, 0, 1);}
.themify_builder_content-31 .tb_7b39665.module-accordion .ui.module-accordion .accordion-title .accordion-icon,.themify_builder_content-31 .tb_7b39665.module-accordion .ui.module-accordion .accordion-title .accordion-active-icon{margin-right:20px;}

@media screen and (max-width: 1280px) {
.themify_builder_content-31 .tb_3l8v649.module_row .module h3{font-style:normal;}
.themify_builder_content-31 .tb_3l8v649.module_row .module h1{font-style:italic; font-size:55px; font-weight:900;font-style:italic;font-family:"Playfair Display";}
.themify_builder_content-31 .tb_3l8v649.module_row>.tb_row_frame_bottom,.themify_builder_content-31 .tb_3l8v649.module_row > .fp-tableCell > .tb_row_frame_bottom{background-image:url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20preserveAspectRatio%3D%22none%22%20viewBox%3D%220%200%201500%20150%22%20fill%3D%22rgba(255%2C%20255%2C%20255%2C%201)%22%3E%3Cpath%20opacity%3D%22.5%22%20d%3D%22M672.636%2066.505l128.127%2021.528-235.1-51.34C459.76%2013.566%20289.567%2020.675%20187.46%2052.5L118.5%2073.984%20209.25%2058.8c115.087-19.246%20323.6-15.778%20463.386%207.706z%22%2F%3E%3Cpath%20opacity%3D%22.6%22%20d%3D%22M0%2093.792V110.9l118.508-36.925L0%2093.792z%22%2F%3E%3Cpath%20d%3D%22M0%200v93.792l118.508-19.818L187.46%2052.5c102.108-31.815%20272.3-38.924%20378.203-15.797l235.1%2051.34%2085.602%2014.383c139.774%2023.484%20335.023%2031.15%20433.886%2017.038L1500%2093.792V0H0z%22%2F%3E%3Cpath%20opacity%3D%22.5%22%20d%3D%22M886.364%20102.416l-85.602-14.383%20147.186%2032.142c105.903%2023.127%20273.44%2030.5%20372.302%2016.387L1500%20110.9V93.792l-179.75%2025.662c-98.862%2014.113-294.1%206.446-433.886-17.038z%22%2F%3E%3C%2Fsvg%3E");width:100%;height:15%;}
.themify_builder_content-31 .tb_3l8v649.module_row>.tb_row_frame_top,.themify_builder_content-31 .tb_3l8v649.module_row > .fp-tableCell > .tb_row_frame_top{background-image:none;}
.themify_builder_content-31 .tb_mdth649.module_row .module h3{font-style:normal;}
.themify_builder_content-31 .tb_mdth649.module_row>.tb_row_frame_top,.themify_builder_content-31 .tb_mdth649.module_row > .fp-tableCell > .tb_row_frame_top{background-image:url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20preserveAspectRatio%3D%22none%22%20viewBox%3D%220%200%201500%20150%22%20fill%3D%22rgba(255%2C%20255%2C%20255%2C%201)%22%3E%3Cpath%20opacity%3D%22.5%22%20d%3D%22M672.636%2066.505l128.127%2021.528-235.1-51.34C459.76%2013.566%20289.567%2020.675%20187.46%2052.5L118.5%2073.984%20209.25%2058.8c115.087-19.246%20323.6-15.778%20463.386%207.706z%22%2F%3E%3Cpath%20opacity%3D%22.6%22%20d%3D%22M0%2093.792V110.9l118.508-36.925L0%2093.792z%22%2F%3E%3Cpath%20d%3D%22M0%200v93.792l118.508-19.818L187.46%2052.5c102.108-31.815%20272.3-38.924%20378.203-15.797l235.1%2051.34%2085.602%2014.383c139.774%2023.484%20335.023%2031.15%20433.886%2017.038L1500%2093.792V0H0z%22%2F%3E%3Cpath%20opacity%3D%22.5%22%20d%3D%22M886.364%20102.416l-85.602-14.383%20147.186%2032.142c105.903%2023.127%20273.44%2030.5%20372.302%2016.387L1500%20110.9V93.792l-179.75%2025.662c-98.862%2014.113-294.1%206.446-433.886-17.038z%22%2F%3E%3C%2Fsvg%3E");width:100%;height:10%;}
.themify_builder_content-31 .tb_mdth649.module_row>.tb_row_frame_bottom,.themify_builder_content-31 .tb_mdth649.module_row > .fp-tableCell > .tb_row_frame_bottom{background-image:url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20preserveAspectRatio%3D%22none%22%20viewBox%3D%220%200%201500%20150%22%20fill%3D%22rgba(255%2C%20255%2C%20255%2C%201)%22%3E%3Cpath%20opacity%3D%22.5%22%20d%3D%22M672.636%2066.505l128.127%2021.528-235.1-51.34C459.76%2013.566%20289.567%2020.675%20187.46%2052.5L118.5%2073.984%20209.25%2058.8c115.087-19.246%20323.6-15.778%20463.386%207.706z%22%2F%3E%3Cpath%20opacity%3D%22.6%22%20d%3D%22M0%2093.792V110.9l118.508-36.925L0%2093.792z%22%2F%3E%3Cpath%20d%3D%22M0%200v93.792l118.508-19.818L187.46%2052.5c102.108-31.815%20272.3-38.924%20378.203-15.797l235.1%2051.34%2085.602%2014.383c139.774%2023.484%20335.023%2031.15%20433.886%2017.038L1500%2093.792V0H0z%22%2F%3E%3Cpath%20opacity%3D%22.5%22%20d%3D%22M886.364%20102.416l-85.602-14.383%20147.186%2032.142c105.903%2023.127%20273.44%2030.5%20372.302%2016.387L1500%20110.9V93.792l-179.75%2025.662c-98.862%2014.113-294.1%206.446-433.886-17.038z%22%2F%3E%3C%2Fsvg%3E");width:100%;height:15%;}
.themify_builder_content-31 .tb_mzox654.module-text.module h3{font-style:italic; font-size:50px;}
.themify_builder_content-31 .tb_mzox654.module-text.module .tb_text_wrap h3:not(.module-title){font-weight:900;font-style:italic;font-family:"Playfair Display";}
.themify_builder_content-31 .tb_lp0m665.module-text.module h3{font-style:italic; font-size:55px;}
.themify_builder_content-31 .tb_lp0m665.module-text.module .tb_text_wrap h3:not(.module-title){font-weight:900;font-style:italic;font-family:"Playfair Display";}
.themify_builder_content-31 .tb_7b39665.module-accordion.module .accordion-title{font-style:normal;}
.themify_builder_content-31 .tb_7b39665.module-accordion .ui.module-accordion .accordion-title{letter-spacing:1px; font-size:20px; font-weight:600;font-family:"Poppins";}
.themify_builder_content-31 .tb_7b39665.module-accordion .ui.module-accordion .tb_title_accordion{color:rgba(0, 0, 0, 1);}
}
@media screen and (max-width: 768px) {
.themify_builder_content-31 .tb_3l8v649.module_row .module h1{font-style:italic; font-size:55px; font-weight:900;font-style:italic;font-family:"Playfair Display";}
.themify_builder_content-31 .tb_3l8v649.module_row>.tb_row_frame_bottom,.themify_builder_content-31 .tb_3l8v649.module_row > .fp-tableCell > .tb_row_frame_bottom{background-image:url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20preserveAspectRatio%3D%22none%22%20viewBox%3D%220%200%201500%20150%22%20fill%3D%22rgba(255%2C%20255%2C%20255%2C%201)%22%3E%3Cpath%20opacity%3D%22.5%22%20d%3D%22M672.636%2066.505l128.127%2021.528-235.1-51.34C459.76%2013.566%20289.567%2020.675%20187.46%2052.5L118.5%2073.984%20209.25%2058.8c115.087-19.246%20323.6-15.778%20463.386%207.706z%22%2F%3E%3Cpath%20opacity%3D%22.6%22%20d%3D%22M0%2093.792V110.9l118.508-36.925L0%2093.792z%22%2F%3E%3Cpath%20d%3D%22M0%200v93.792l118.508-19.818L187.46%2052.5c102.108-31.815%20272.3-38.924%20378.203-15.797l235.1%2051.34%2085.602%2014.383c139.774%2023.484%20335.023%2031.15%20433.886%2017.038L1500%2093.792V0H0z%22%2F%3E%3Cpath%20opacity%3D%22.5%22%20d%3D%22M886.364%20102.416l-85.602-14.383%20147.186%2032.142c105.903%2023.127%20273.44%2030.5%20372.302%2016.387L1500%20110.9V93.792l-179.75%2025.662c-98.862%2014.113-294.1%206.446-433.886-17.038z%22%2F%3E%3C%2Fsvg%3E");width:100%;height:10%;}
.themify_builder_content-31 .tb_3l8v649.module_row>.tb_row_frame_top,.themify_builder_content-31 .tb_3l8v649.module_row > .fp-tableCell > .tb_row_frame_top{background-image:none;}
.themify_builder_content-31 .tb_3l8v649.module_row .module h3{font-style:normal;}
.themify_builder_content-31 .tb_mdth649.module_row>.tb_row_frame_bottom,.themify_builder_content-31 .tb_mdth649.module_row > .fp-tableCell > .tb_row_frame_bottom{background-image:url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20preserveAspectRatio%3D%22none%22%20viewBox%3D%220%200%201500%20150%22%20fill%3D%22rgba(255%2C%20255%2C%20255%2C%201)%22%3E%3Cpath%20opacity%3D%22.5%22%20d%3D%22M672.636%2066.505l128.127%2021.528-235.1-51.34C459.76%2013.566%20289.567%2020.675%20187.46%2052.5L118.5%2073.984%20209.25%2058.8c115.087-19.246%20323.6-15.778%20463.386%207.706z%22%2F%3E%3Cpath%20opacity%3D%22.6%22%20d%3D%22M0%2093.792V110.9l118.508-36.925L0%2093.792z%22%2F%3E%3Cpath%20d%3D%22M0%200v93.792l118.508-19.818L187.46%2052.5c102.108-31.815%20272.3-38.924%20378.203-15.797l235.1%2051.34%2085.602%2014.383c139.774%2023.484%20335.023%2031.15%20433.886%2017.038L1500%2093.792V0H0z%22%2F%3E%3Cpath%20opacity%3D%22.5%22%20d%3D%22M886.364%20102.416l-85.602-14.383%20147.186%2032.142c105.903%2023.127%20273.44%2030.5%20372.302%2016.387L1500%20110.9V93.792l-179.75%2025.662c-98.862%2014.113-294.1%206.446-433.886-17.038z%22%2F%3E%3C%2Fsvg%3E");width:100%;height:8%;}
.themify_builder_content-31 .tb_mdth649.module_row>.tb_row_frame_top,.themify_builder_content-31 .tb_mdth649.module_row > .fp-tableCell > .tb_row_frame_top{background-image:url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20preserveAspectRatio%3D%22none%22%20viewBox%3D%220%200%201500%20150%22%20fill%3D%22rgba(255%2C%20255%2C%20255%2C%201)%22%3E%3Cpath%20opacity%3D%22.5%22%20d%3D%22M672.636%2066.505l128.127%2021.528-235.1-51.34C459.76%2013.566%20289.567%2020.675%20187.46%2052.5L118.5%2073.984%20209.25%2058.8c115.087-19.246%20323.6-15.778%20463.386%207.706z%22%2F%3E%3Cpath%20opacity%3D%22.6%22%20d%3D%22M0%2093.792V110.9l118.508-36.925L0%2093.792z%22%2F%3E%3Cpath%20d%3D%22M0%200v93.792l118.508-19.818L187.46%2052.5c102.108-31.815%20272.3-38.924%20378.203-15.797l235.1%2051.34%2085.602%2014.383c139.774%2023.484%20335.023%2031.15%20433.886%2017.038L1500%2093.792V0H0z%22%2F%3E%3Cpath%20opacity%3D%22.5%22%20d%3D%22M886.364%20102.416l-85.602-14.383%20147.186%2032.142c105.903%2023.127%20273.44%2030.5%20372.302%2016.387L1500%20110.9V93.792l-179.75%2025.662c-98.862%2014.113-294.1%206.446-433.886-17.038z%22%2F%3E%3C%2Fsvg%3E");width:100%;height:8%;}
.themify_builder_content-31 .tb_mdth649.module_row{padding-bottom:16%; padding-top:10%;}
.themify_builder_content-31 .tb_mdth649.module_row .module h3{font-style:normal;}
.themify_builder_content-31 .tb_mzox654.module-text.module h3{font-style:italic; font-size:40px;}
.themify_builder_content-31 .tb_mzox654.module-text.module .tb_text_wrap h3:not(.module-title){font-weight:900;font-style:italic;font-family:"Playfair Display";}
.themify_builder_content-31 .tb_mzox654.module-text{text-align:center;}
.themify_builder_content-31 .tb_mzox654.module-text .tb_text_wrap,.themify_builder_content-31 .tb_mzox654.module-text .tb_text_wrap p,.themify_builder_content-31 .tb_mzox654.module-text .tb_text_wrap blockquote,.themify_builder_content-31 .tb_mzox654.module-text .tb_text_wrap h1,.themify_builder_content-31 .tb_mzox654.module-text .tb_text_wrap h2,.themify_builder_content-31 .tb_mzox654.module-text .tb_text_wrap h3,.themify_builder_content-31 .tb_mzox654.module-text .tb_text_wrap h4,.themify_builder_content-31 .tb_mzox654.module-text .tb_text_wrap h5,.themify_builder_content-31 .tb_mzox654.module-text .tb_text_wrap h6,.themify_builder_content-31 .tb_mzox654.module-text .tb_text_wrap li,.themify_builder_content-31 .tb_mzox654.module-text .tb_text_wrap span{color:rgba(0, 0, 0, 1);-webkit-background-clip:border-box;background-clip:border-box;background-image:none;}
.themify_builder_content-31 .tb_lp0m665.module-text.module h3{font-style:italic; font-size:40px;}
.themify_builder_content-31 .tb_lp0m665.module-text.module .tb_text_wrap h3:not(.module-title){font-weight:900;font-style:italic;font-family:"Playfair Display";}
.themify_builder_content-31 .tb_7b39665.module-accordion.module .accordion-title{font-style:normal;}
.themify_builder_content-31 .tb_7b39665.module-accordion .ui.module-accordion .accordion-title{letter-spacing:1px; font-size:20px; font-weight:600;font-family:"Poppins";}
.themify_builder_content-31 .tb_7b39665.module-accordion .ui.module-accordion .tb_title_accordion{color:rgba(0, 0, 0, 1);}
}
@media screen and (max-width: 680px) {
.themify_builder_content-31 .tb_3l8v649.module_row .module h1{font-style:italic; font-size:45px; font-weight:900;font-style:italic;font-family:"Playfair Display";}
.themify_builder_content-31 .tb_3l8v649.module_row{padding-bottom:30%; padding-top:20%;}
.themify_builder_content-31 .tb_3l8v649.module_row>.tb_row_frame_bottom,.themify_builder_content-31 .tb_3l8v649.module_row > .fp-tableCell > .tb_row_frame_bottom{background-image:url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20preserveAspectRatio%3D%22none%22%20viewBox%3D%220%200%201500%20150%22%20fill%3D%22rgba(255%2C%20255%2C%20255%2C%201)%22%3E%3Cpath%20opacity%3D%22.5%22%20d%3D%22M672.636%2066.505l128.127%2021.528-235.1-51.34C459.76%2013.566%20289.567%2020.675%20187.46%2052.5L118.5%2073.984%20209.25%2058.8c115.087-19.246%20323.6-15.778%20463.386%207.706z%22%2F%3E%3Cpath%20opacity%3D%22.6%22%20d%3D%22M0%2093.792V110.9l118.508-36.925L0%2093.792z%22%2F%3E%3Cpath%20d%3D%22M0%200v93.792l118.508-19.818L187.46%2052.5c102.108-31.815%20272.3-38.924%20378.203-15.797l235.1%2051.34%2085.602%2014.383c139.774%2023.484%20335.023%2031.15%20433.886%2017.038L1500%2093.792V0H0z%22%2F%3E%3Cpath%20opacity%3D%22.5%22%20d%3D%22M886.364%20102.416l-85.602-14.383%20147.186%2032.142c105.903%2023.127%20273.44%2030.5%20372.302%2016.387L1500%20110.9V93.792l-179.75%2025.662c-98.862%2014.113-294.1%206.446-433.886-17.038z%22%2F%3E%3C%2Fsvg%3E");width:100%;height:8%;}
.themify_builder_content-31 .tb_3l8v649.module_row>.tb_row_frame_top,.themify_builder_content-31 .tb_3l8v649.module_row > .fp-tableCell > .tb_row_frame_top{background-image:none;}
.themify_builder_content-31 .tb_mdth649.module_row{padding-bottom:7%; padding-top:9%;}
.themify_builder_content-31 .tb_mdth649.module_row>.tb_row_frame_bottom,.themify_builder_content-31 .tb_mdth649.module_row > .fp-tableCell > .tb_row_frame_bottom{background-image:url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20preserveAspectRatio%3D%22none%22%20viewBox%3D%220%200%201500%20150%22%20fill%3D%22rgba(255%2C%20255%2C%20255%2C%201)%22%3E%3Cpath%20opacity%3D%22.5%22%20d%3D%22M672.636%2066.505l128.127%2021.528-235.1-51.34C459.76%2013.566%20289.567%2020.675%20187.46%2052.5L118.5%2073.984%20209.25%2058.8c115.087-19.246%20323.6-15.778%20463.386%207.706z%22%2F%3E%3Cpath%20opacity%3D%22.6%22%20d%3D%22M0%2093.792V110.9l118.508-36.925L0%2093.792z%22%2F%3E%3Cpath%20d%3D%22M0%200v93.792l118.508-19.818L187.46%2052.5c102.108-31.815%20272.3-38.924%20378.203-15.797l235.1%2051.34%2085.602%2014.383c139.774%2023.484%20335.023%2031.15%20433.886%2017.038L1500%2093.792V0H0z%22%2F%3E%3Cpath%20opacity%3D%22.5%22%20d%3D%22M886.364%20102.416l-85.602-14.383%20147.186%2032.142c105.903%2023.127%20273.44%2030.5%20372.302%2016.387L1500%20110.9V93.792l-179.75%2025.662c-98.862%2014.113-294.1%206.446-433.886-17.038z%22%2F%3E%3C%2Fsvg%3E");width:100%;height:5%;}
.themify_builder_content-31 .tb_mdth649.module_row>.tb_row_frame_top,.themify_builder_content-31 .tb_mdth649.module_row > .fp-tableCell > .tb_row_frame_top{background-image:url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20preserveAspectRatio%3D%22none%22%20viewBox%3D%220%200%201500%20150%22%20fill%3D%22rgba(255%2C%20255%2C%20255%2C%201)%22%3E%3Cpath%20opacity%3D%22.5%22%20d%3D%22M672.636%2066.505l128.127%2021.528-235.1-51.34C459.76%2013.566%20289.567%2020.675%20187.46%2052.5L118.5%2073.984%20209.25%2058.8c115.087-19.246%20323.6-15.778%20463.386%207.706z%22%2F%3E%3Cpath%20opacity%3D%22.6%22%20d%3D%22M0%2093.792V110.9l118.508-36.925L0%2093.792z%22%2F%3E%3Cpath%20d%3D%22M0%200v93.792l118.508-19.818L187.46%2052.5c102.108-31.815%20272.3-38.924%20378.203-15.797l235.1%2051.34%2085.602%2014.383c139.774%2023.484%20335.023%2031.15%20433.886%2017.038L1500%2093.792V0H0z%22%2F%3E%3Cpath%20opacity%3D%22.5%22%20d%3D%22M886.364%20102.416l-85.602-14.383%20147.186%2032.142c105.903%2023.127%20273.44%2030.5%20372.302%2016.387L1500%20110.9V93.792l-179.75%2025.662c-98.862%2014.113-294.1%206.446-433.886-17.038z%22%2F%3E%3C%2Fsvg%3E");width:100%;height:5%;}
.themify_builder_content-31 .tb_mdth649.module_row .module h3{font-style:normal;}
.themify_builder_content-31 .tb_mzox654.module-text.module h3{font-style:normal; font-size:30px;}
.themify_builder_content-31 .tb_mzox654.module-text.module .tb_text_wrap h3:not(.module-title){font-weight:900;font-family:"Playfair Display";}
.themify_builder_content-31 .tb_0m8p656.module_column{margin-bottom:20px; padding-left:3%; padding-bottom:10%; padding-right:3%; padding-top:10%;}
.themify_builder_content-31 .tb_nn2b659.module_column{margin-bottom:20px; padding-left:5%; padding-bottom:10%; padding-right:5%; padding-top:10%;}
.themify_builder_content-31 .tb_o8n5662.module_column{padding-left:5%; padding-bottom:10%; padding-right:5%; padding-top:10%;}
.themify_builder_content-31 .tb_lp0m665.module-text.module h3{font-style:normal; font-size:35px;}
.themify_builder_content-31 .tb_lp0m665.module-text.module .tb_text_wrap h3:not(.module-title){font-weight:400;font-family:"Playfair Display";}
.themify_builder_content-31 .tb_7b39665.module-accordion.module .accordion-title{font-style:normal;}
.themify_builder_content-31 .tb_7b39665.module-accordion .ui.module-accordion .accordion-title{letter-spacing:1px; font-size:16px; font-weight:600;font-family:"Poppins";}
.themify_builder_content-31 .tb_7b39665.module-accordion .ui.module-accordion .tb_title_accordion{color:rgba(0, 0, 0, 1);}
}