/*
 Theme Name:   Sanyo Theme
 Theme URI:    
 Description:  Themify Basic Child Theme
 Author:       Sanyo-Fast Corporation
 Author URI:   
 Template:     basic
 Version:      1.0.0
 License:      
 License URI:  
 Tags:         
 Text Domain:  
*/
@charset "UTF-8";

/************************************************************************************
GENERAL STYLING
*************************************************************************************/
html {
	-webkit-font-smoothing: antialiased;
}
body {
	font: .81em/150% Arial, Helvetica, sans-serif;
	word-wrap: break-word;
	background-color: #fff;
	color: #666;
}
a {
	color: #1f7bb6;
	text-decoration: none;
	outline: none;
}
a:hover {
	text-decoration: underline;
}
p {
	margin: 0 0 1.2em;
	padding: 0;
}
small {
	font-size: 87%;
}
blockquote {
	font: italic 110%/130% "Times New Roman", Times, serif;
	padding: 8px 30px 15px;
}

/* LIST
================================================ */
ul, ol {
	margin: 1em 0 1.4em 24px;
	padding: 0;
	line-height: 140%;
}
li {
	margin: 0 0 .5em 0;
	padding: 0;
}

/* HEADINGS
================================================ */
h1, h2, h3, h4, h5, h6 {
	line-height: 1.4em;
	margin: 20px 0 .4em;
	word-wrap: normal;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.8em;
}
h3 {
	font-size: 1.6em;
}
h4 {
	font-size: 1.4em;
}
h5 {
	font-size: 1.2em;
}
h6 {
	font-size: 1em;
}

/* FORM
================================================ */
/* form input */
input, textarea, select, input[type=search], button {
	font-size: 100%;
	font-family: inherit;
}
textarea, input[type=text], input[type=password], input[type=search], input[type=email], input[type=url] {
	background-color: #f3f3f3;
	border: solid 1px #ddd;
	padding: 6px 10px;
	border-radius: 5px;
	-webkit-appearance: none;
}
input[type=text], input[type=search], input[type=email], input[type=url] {
	width: 240px;
	max-width: 90%;
}

/* text area */
textarea {
	line-height: 150%;
	width: 94%;
}

/* form input:focus */
textarea:focus, input[type=text]:focus, input[type=password]:focus, input[type=search]:focus, input[type=email]:focus, input[type=url]:focus {
	outline: none;
	background-color: #f9f9f9;
}

/* form button */
input[type=reset], input[type=submit], button {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 7px 20px;
	cursor: pointer;
	border-radius: 5px;
	-webkit-appearance: none;
}

/* form button:hover */
input[type=reset]:hover, input[type=submit]:hover, button:hover {
	background-color: #000;
	color: #fff;
}

/************************************************************************************
STRUCTURE
*************************************************************************************/
#pagewrap, .pagewidth, #headerwrap, #header, #main-nav, #body, #layout, #content, .post, .author-box, .post-nav, .pagenav, #sidebar, .widget, #footerwrap, #footer {
	box-sizing: border-box;
}

/* main page width */
.pagewidth {
	width: 978px;
	margin: 0 auto;
}

/* body (middle container) */
#body {
	margin: 0 auto;
	max-width: 100%;
}

/* content */
#content {
	width: 68%;
	float: left;
	padding: 5% 0 3%;
}

/* sidebar */
#sidebar {
	width: 26.5%;
	float: right;
	padding: 5% 0 3%;
}

/* sidebar left */
.sidebar-left #content {
	float: right;
}
.sidebar-left #sidebar {
	float: left;
}

/* sidebar none */
.sidebar-none #content {
	width: 100%;
	float: none;
}

/* fullwidth content */
.full_width #layout {
	width: 100%;
}
.full_width #content {
	padding: 0;
	width: auto;
	float: none;
}
.full_width #sidebar {
	width: auto;
	float: none;
}

/************************************************************************************
GRID
*************************************************************************************/
.col4-1,
.col4-2,
.col4-3,
.col3-1,
.col3-2,
.col2-1
{
	margin-left: 3.2%;
	float: left;
}
.col4-1 {
	width: 22.6%;
}
.col4-2, .col2-1 {
	width: 48.4%;
}
.col4-3 {
	width: 74.2%;
}
.col3-1 {
	width: 31.2%;
}
.col3-2 {
	width: 65.6%;
}
.col.first,
.col4-1.first,
.col4-2.first,
.col4-3.first,
.col3-1.first,
.col3-2.first,
.col2-1.first
{
	margin-left: 0;
	clear: left;
}

/************************************************************************************
HEADER
*************************************************************************************/
#header {
	position: relative;
	height: 170px;
	border-bottom: solid 1px #ddd;
}

/* 
SITE LOGO
================================================ */
#site-logo {
	position: absolute;
	top: 20px;
	font-size: 36px;
	font-weight: bold;
	line-height: 1.4em;
	margin: 0;
}
#site-logo a {
	text-decoration: none;
}
#site-logo a:hover {
	text-decoration: none;
}

/* 
SITE DESCRIPTION
================================================ */
#site-description {
	position: absolute;
	top: 75px;
	font-size: 12px;
	font-weight: normal;
	line-height: 100%;
	margin: 0;
}
#site-description .site-taglink{
	color: inherit;
	font-size: inherit;
}
#site-description .site-taglink:hover{
	text-decoration:none;
}
/* 
SOCIAL WIDGET
================================================ */
.social-widget {
	float: right;
	position: absolute;
	bottom: 10px;
	right: 0;
}
.social-widget a {
	text-decoration: none;
}
.social-widget a:hover {
	text-decoration: none;
}
.social-widget .widget {
	display: inline-block;
	margin: 0 2px 0 0;
}
.social-widget .widget div {
	display: inline;
}
.social-widget .widgettitle {
	width: auto;
	font-weight: bold;
	font-size: 100%;
	text-transform: none;
	border: none;
	letter-spacing: 0;
	position: static;
	display: inline-block;
	margin: 5px 8px 2px 0;
	padding: 0;
	background: transparent;
	box-shadow: none;
}
.social-widget ul {
	margin: 6px 0 0 !important;
	padding: 0;
	display: inline;
}
.social-links.horizontal li {
	padding: 0 2px 5px 0;
	margin: 0;
	display: inline-block;
	border: none !important;
	clear: none;
	line-height: 100%;
}
.social-widget li img {
	vertical-align: middle;
	margin-top: -5px;
}

/* 
RSS
================================================ */
.social-widget div.rss {
	display: inline;
}
.social-widget div.rss a {
	background: url(images/rss.png) no-repeat left center;
	padding: 3px 0 2px 30px;
	display: inline-block;
}

/* 
SEARCH FORM
================================================ */
#header #searchform {
	position: absolute;
	right: 0;
	top: 40px;
	width: 160px;
}
#header #searchform #s {
	width: 100px;
	color: #a5a099;
	background: #eee url(images/search.png) no-repeat 8px center;
	border: solid 1px #ddd;
	padding-left: 28px;
	float: right;
	border-radius: 3px;
	transition: width .7s;
}
#header #searchform #s:focus {
	width: 140px;
	color: #333;
}

/* 
MAIN NAVIGATION
================================================ */
#main-nav {
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0;
	bottom: 10px;
	z-index: 100;
}
#main-nav li {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	position: relative;
}

/* main level link */
#main-nav a {
	display: block;
	padding: 5px 15px;
	margin: 0 5px 0 0;
	text-decoration: none;
}

/* current link */
#main-nav .current_page_item a, #main-nav .current-menu-item a {
	background-color: #333;
	color: #fff;
	border-radius: 5px;
}
/* current link :hover */
#main-nav .current_page_item a:hover, #main-nav .current-menu-item a:hover {
	color: #fff;
}

/* sub-levels link */
#main-nav ul a, #main-nav .current_page_item ul a, #main-nav ul .current_page_item a, #main-nav .current-menu-item ul a, #main-nav ul .current-menu-item a {
	color: #666;
	font-size: 100%;
	line-height: 140%;
	font-weight: normal;
	text-transform: none;
	padding: 6px 6px 6px 15px;
	margin: 0;
	display: block;
	width: 180px;
	background: none;
	border: none;
	text-shadow: none;
	border-radius: 0;
	box-shadow: none;
}
/* sub-levels link :hover */
#main-nav ul a:hover, #main-nav .current_page_item ul a:hover, #main-nav ul .current_page_item a:hover, #main-nav .current-menu-item ul a:hover, #main-nav ul .current-menu-item a:hover {
	background-color: #F3F3F3;
	color: #000;
}
/* dropdown ul */
#main-nav ul {
	margin: 0;
	padding: 5px 0;
	list-style: none;
	position: absolute;
	background-color: #fff;
	border: solid 1px #ccc;
	z-index: 100;
	border-radius: 5px;
	left: -999em;
}
#main-nav ul li {
	background: none;
	padding: 0;
	margin: 0;
	float: none;
}
/* show dropdown ul */
#main-nav li.dropdown-open > ul,
.no-touch #main-nav li:hover > ul {
	left: 0;
}
#main-nav li li.dropdown-open > ul.children,
#main-nav li li.dropdown-open > ul.sub-menu,
.no-touch #main-nav li li:hover > ul.sub-menu,
.no-touch #main-nav li li:hover > ul {
	left: 190px;
	top: -2px;
}
#main-nav a:focus {
	outline: 1px dotted #999;
}
#main-nav .sub-arrow {
    border-radius: 100%;
	padding: 0 7px;
	margin-left: 7px;
}
#main-nav ul .sub-arrow {
	float: right;
	margin-right: 10px;
}

/************************************************************************************
PAGE
*************************************************************************************/
/* page title */
.page-title {
	margin: 0 0 15px;
	padding: 0;
	font-size: 300%;
	line-height: 110%;
}

/*
AUTHOR PAGE
================================================ */
.author-bio {
	margin: 0 0 30px;
}
.author-bio .author-avatar {
	float: left;
	margin: 0 15px 0 0;
}
.author-bio .author-avatar img {
	background-color: #fff;
	padding: 4px;
	border: solid 1px #ccc;
}
.author-bio .author-name {
	margin: 0 0 5px;
	padding: 0;
	font-size: 160%;
}
.author-posts-by {
	margin: 0 0 20px;
	padding: 10px 0 0;
	font-size: 140%;
	text-transform: uppercase;
	border-top: double 4px #ccc;
	border-color: rgba(118,118,118,.3);
}

/*
CATEGORY SECTIONS
================================================ */
.category-section {
	clear: both;
	margin-bottom: 30px;
}
.category-section-title {
	font-size: 120%;
	text-transform: uppercase;
	margin: 0 0 20px;
	padding: 10px 0 0;
	border-top: double 4px #ccc;
}

/************************************************************************************
POST
*************************************************************************************/
.post {
	margin-bottom: 50px;
	box-sizing: border-box;
}

/* post content */
.post-content {
	min-width: 120px;
}

/* post title */
.post-title {
	font-size: 26px;
	margin: 0 0 5px;
	padding: 0;
}
.post-title a {
}

/* post image */
.post-image {
	max-width: 100%;
	margin: 0 0 5px;
}
.post-image.left {
	float: left;
	margin-right: 15px;
}
.post-image.right {
	float: right;
	margin-left: 15px;
}

/* post meta */
.post-meta {
	margin: 0 0 7px;
}
.post-meta .post-author {
	background: url(images/post-author.png) no-repeat 0 2px;
	padding: 2px 0 2px 16px;
	margin-right: 7px;
}
.post-meta .post-category {
	background: url(images/post-category.png) no-repeat 0 2px;
	padding: 2px 0 2px 16px;
	margin-right: 7px;
}
.post-meta .post-tag {
	background: url(images/post-tag.png) no-repeat 0 3px;
	padding: 2px 0 2px 16px;
	margin-right: 7px;
}
.post-meta .post-comment a {
	background: url(images/post-comment.png) no-repeat 0 3px;
	padding: 2px 0 2px 16px;
}

/* grid4 post */
.loops-wrapper.grid4 .post {
	width: 22.6%;
	float: left;
	margin-left: 3.2%;
}
.loops-wrapper.grid4 .post-title {
	font-size: 120%;
	margin: 0 0 3px;
	padding: 0;
}

/* grid3 post */
.loops-wrapper.grid3 .post {
	width: 31.2%;
	float: left;
	margin-left: 3.2%;
}
.loops-wrapper.grid3 .post-title {
	font-size: 140%;
	margin: 0 0 3px;
	padding: 0;
}

/* grid2 post */
.loops-wrapper.grid2 .post {
	width: 48.4%;
	float: left;
	margin-left: 3.2%;
}
.loops-wrapper.grid2 .post-title {
	font-size: 150%;
	margin: 0 0 3px;
	padding: 0;
}

/* grid2-thumb post */
.loops-wrapper.grid2-thumb .post {
	width: 48.4%;
	float: left;
	margin-left: 3.2%;
}
.loops-wrapper.grid2-thumb .post-title {
	margin: 0 0 5px;
	font-size: 150%;
}
.loops-wrapper.grid2-thumb .post-image {
	float: left;
	margin: 5px 14px 10px 0;
}
.loops-wrapper.grid2-thumb .post-content {
	overflow: hidden;
}

/* clear grid posts */
.loops-wrapper.grid4 .post:nth-of-type(4n+1),
.loops-wrapper.grid3 .post:nth-of-type(3n+1),
.loops-wrapper.grid2 .post:nth-of-type(2n+1),
.loops-wrapper.grid2-thumb .post:nth-of-type(2n+1) {
	margin-left: 0;
	clear: left;
}

/* list thumb post */
.loops-wrapper.list-thumb-image .post-image {
	float: left;
	margin: 7px 16px 10px 0;
}
.loops-wrapper.list-thumb-image .post-content {
	overflow: hidden;
}

/* list large image */
.loops-wrapper.list-large-image .post-image {
	float: left;
	margin: 7px 22px 10px 0;
}
.loops-wrapper.list-large-image .post-title {
	font-size: 200%;
	margin: 0 0 5px;
	padding: 0;
}
.loops-wrapper.list-large-image .post-content {
	overflow: hidden;
}

/************************************************************************************
POST VIDEO (css for fluid video)
*************************************************************************************/
.post-video, .embed-youtube {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	font-size:.9em;
	margin-bottom: 15px;
}
.post-video iframe,
.post-video object,
.post-video embed,
.embed-youtube iframe,
.embed-youtube object,
.embed-youtube embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/************************************************************************************
POST EMBEDS (css for various fluid elements)
*************************************************************************************/
.twitter-tweet-rendered {
max-width: 100% !important;
}
/************************************************************************************
PAGE NAVIGATION
*************************************************************************************/
.pagenav {
	clear: both;
	padding-bottom: 20px;
	text-align: right;
}
.pagenav a, .pagenav span {
	line-height: 100%;
	padding: 6px 0 0;
	margin: 0 2px;
	vertical-align: middle;
	display: inline-block;
	min-width: 24px;
	min-height: 24px;
	text-align: center;
	border-radius: 10em;
	box-sizing: border-box;
}
.pagenav a {
	background-color: #111;
	color: #fff;
	text-decoration: none;
}
.pagenav a:hover {
	background-color: #000;
}
.pagenav .current {
	text-decoration: none;
}

/************************************************************************************
AUTHOR BOX
*************************************************************************************/
.author-box {
	margin: 15px 0;
}
.author-box .author-avatar {
	float: left;
	margin: 0 15px 5px 0;
}
.author-box .author-name {
	margin: 0 0 5px;
}

/************************************************************************************
POST NAVIGATION (the <nextpage> tag)
*************************************************************************************/
.post-pagination {
	text-align: right;
	margin: .5em 0 2em;
}
.post-pagination strong {
	margin-right: 3px;
}
.post-pagination a {
	margin-left: 3px;
	margin-right: 3px;
}
/************************************************************************************

POST NAVIGATION
*************************************************************************************/
.post-nav {
	margin: 0 0 30px;
	padding: 15px 0;
	clear: both;
}
.post-nav .prev,
.post-nav .next {
	width: 47%;
	position: relative;
}
.post-nav a {
	text-decoration: none;
	display: block;
}
.post-nav a:hover {
	text-decoration: none;
}
.post-nav .prev {
	float: left;
}
.post-nav .next {
	float: right;
	text-align: right;
}

/* post nav arrow */
.post-nav .arrow {
	background-color: #333;
	color: #fff;
	font: normal 20px/100% "Times New Roman", Times, serif;
	display: block;
	float: left;
	width: 32px;
	height: 28px;
	padding: 4px 0 0;
	text-align: center;
	margin: -8px 10px 17px 0;
	border-radius: 10em;
}
.post-nav .next .arrow {
	float: right;
	margin-left: 10px;
	margin-right: 0;
}
.post-nav a:hover span {
	background-color: #000;
}

/************************************************************************************
COMMENTS
*************************************************************************************/
.commentwrap {
	margin: 10px 0 20px;
	position: relative;
	clear: both;
}

/* comment title */
.comment-title, #reply-title {
	font-size: 140%;
	margin: 0 0 10px;
	padding: 0;
}

/* comment pagenav */
.commentwrap .pagenav {
	margin: 10px 0;
	border: none;
	box-shadow: none;
}
.commentwrap .pagenav.top {
	margin: 0;
	position: absolute;
	top: 10px;
	right: 0;
}

/* commentlist */
.commentlist {
	margin: 0 0 30px;
	padding: 5px 0 0;
	border-top: solid 1px #ddd;
}
.commentlist li {
	margin: 0;
	padding: 15px 0 0;
	list-style: none;
	position: relative;
}
.commentlist .comment-author {
	margin: 2px 0 5px;
	padding: 0;
}
.commentlist .avatar {
	float: left;
	margin: 0 15px 0 0;
}
.commentlist cite {
	font-style: normal;
	font-size: 130%;
}
.commentlist cite a {
	text-decoration: none;
}
.commentlist .bypostauthor > .comment-author cite {
	background: url(images/icon-author-comment.png) no-repeat 0 2px;
	padding-left: 18px;
}
.commentlist .comment-time {
	font-size: 75%;
	text-transform: uppercase;
}
.commentlist .commententry {
	border-bottom: solid 1px #ddd;
	position: relative;
	min-height: 40px;
	overflow: hidden;
	padding-bottom: 5px;
	word-wrap: break-word;
}
.commentlist ul, .commentlist ol {
	margin: 0 0 0 7%;
	padding: 0;
}

/* reply link */
.commentlist .reply {
	position: absolute;
	right: 0;
	top: 8px;
}
.commentlist .comment-reply-link {
	font-size: 11px;
	text-transform: uppercase;
	text-decoration: none;
}
.commentlist .comment-reply-link:hover {
	text-decoration: none;
}

/* 
COMMENT FORM
================================================ */
#respond {
	margin: 0;
	padding: 10px 0 0;
	position: relative;
	clear: both;
}
#respond #cancel-comment-reply-link {
	position: absolute;
	top: 20px;
	right: 0;
	font-size: 85%;
	line-height: 100%;
	text-decoration: none;
	padding: 5px 10px;
	display: block;
	color: #fff;
	background-color: #F30;
}
#respond #cancel-comment-reply-link:hover {
	background-color: #333;
}
#commentform {
	margin: 15px 0 0;
}
#commentform label {
	font-weight: bold;
}
#commentform label small {
	font-weight: normal;
}
#commentform textarea {
	height: 140px;
	width: 100%;
	box-sizing: border-box;
}
#commentform .comment-form-author,
#commentform .comment-form-email {
	width: 50%;
	float: left;
	box-sizing: border-box;
	clear: none;
}
#commentform p.comment-form-author {
    padding-right: 2%;
}
#commentform .comment-form-email {
	padding-left: 2%;
}
#commentform input[type=text],
#commentform input[type=email],
#commentform input[type=url] {
	width: 100%;
	max-width: none;
	box-sizing: border-box;
}
#commentform input#submit {
	padding: 7px 20px;
}

/************************************************************************************
SIDEBAR
*************************************************************************************/
.widget {
	margin: 0 0 30px;
	word-wrap: break-word;
}
.widgettitle {
	margin: 0 0 10px;
	padding: 0;	
	font-size: 120%;
}
.widget ul {
	margin: 0;
	padding: 0;
}
.widget li {
	margin: 0;
	padding: 6px 0;
	list-style: none;
	clear: both;
	border-top: solid 1px #ddd;
}
.widget ul ul {
	margin: 6px 0 -6px 0;
	padding: 0;
	border-top: none;
}
.widget ul ul li {
	margin: 0;
	padding-left: 10px;
}

/************************************************************************************
WIDGET STYLES
*************************************************************************************/
/* calendar widget */
.widget #wp-calendar caption {
	font-weight: bold;
	padding-bottom: 10px;
}
.widget #wp-calendar td {
	width: 31px;
	padding: 4px 2px;
	text-align: center;
}

/* feature posts widget */
.widget .feature-posts-list br {
	display: none;
}
.widget .feature-posts-list .post-img {
	margin: 4px 12px 10px 0;
	float: left;
}
.widget .feature-posts-list small {
	font-style: italic;
	font-size: 90%;
	display: block;
	margin: 0 0 3px;
}
.widget .feature-posts-list .feature-posts-title {
	margin: 4px 0 3px;
}
.widget .feature-posts-list .post-excerpt {
	display: block;
}

/* twitter widget */
.widget .twitter-list .twitter-timestamp {
	font-style: italic;
	font-size: 90%;
}
.widget .follow-user {
	margin: 0;
	padding: 5px 0;
}

/* links widget */
.widget .links-list img, .widget_links img {
	vertical-align: middle;
}

/* recent comments widget */
.recent-comments-list .avatar {
	margin-right: 12px;
	float: left;
}

/* flickr widget */
.widget .flickr_badge_image {
	margin-top: 10px;
}
.widget .flickr_badge_image img {
	width: 50px;
	height: 50px;
	margin-right: 12px;
	margin-bottom: 12px;
	float: left;
}

/* flickr shortcode */
.shortcode .flickr_badge_image {
	width: 23.8%;
	margin: 0 1.5% 1.5% 0;
	float: left;
}
.shortcode .flickr_badge_image:nth-of-type(4n) {
	margin-right: 0;
}
.shortcode .flickr_badge_image img {
	margin: 0;
}

/* search widget */
#sidebar #searchform {
	position: static;
}
#sidebar #searchform #s {
	width: 93%;
}

/* reset twitter embed max-width to 100% */
#content .twitter-tweet-rendered {
	max-width: 100% !important;
}
#content .twt-border {
	max-width: 100% !important;
	min-width: 180px !important;
}

/* Social Links Widget */
.widget .social-links {
	margin: 0 0 20px;
	padding: 0;
	line-height: 100%;
}
.widget .social-links li {
	margin: 0 5px 5px 0;
	padding: 0;
	list-style: none;
	border: none;
	display: inline-block;
}
.widget .social-links img {
	vertical-align: middle;
}

/* Text widget */
.widget .textwidget ul {
	margin: 0 0 1.4em 1.6em;
}
.widget .textwidget li {
	display: list-item;
}
.widget .textwidget ul li {
	list-style: disc;
}
.widget .textwidget ol li {
	list-style: decimal;
}

/************************************************************************************
FOOTER
*************************************************************************************/
#footer {
	padding: 30px 0;
	clear: both;
	border-top: solid 1px #ddd;
}

/* back to top */
.back-top {
	clear: both;
	float: left;
	margin-top: -3px;
}
.back-top a {
	background: #000 url(images/arrow-up.png) no-repeat center center;
	display: block;
	width: 30px;
	height: 30px;
	margin: 0 10px 10px 0;
	text-indent: -900em;
	border-radius: 10em;	
}
.back-top a:hover {
	background-color: #333;
}

/* footer nav */
.footer-nav {
	margin: 7px 0 10px;
	padding: 0;
	text-align: left;
}
.footer-nav li {
	padding: 0;
	margin: 0 8px 5px 0;
	list-style: none;
	display: inline-block;
}

/* footer text */
.footer-text {
	font-size: 90%;
	clear: both;
}

/************************************************************************************
WORDPRESS POST FORMATTING
*************************************************************************************/
.sticky {}
img.alignleft, img.aligncenter, img.alignright, img.alignnone {
	margin-bottom: 15px;
}
.alignleft {
	float: left;
	margin-right: 30px;
}
.alignright {
	float: right;
	margin-left: 30px;
}
.aligncenter {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.wp-caption {
	text-align: center;
	margin-bottom: 15px;
	max-width: 100%;
}
.wp-caption-text {
	font-size: 95%;
	line-height: 120%;
	margin: 6px 0;
}

/************************************************************************************
ATTACHMENT SINGLE VIEW
*************************************************************************************/
.attachment.single-attachment,
.single-attachment .attachment {
	float: none;
	margin: 0;
	text-align: left;
}

/************************************************************************************
GALLERY
*************************************************************************************/
.gallery {
	margin: 0 0 20px 0;
}

/* gallery item */
.gallery .gallery-item {
	margin: 0 8px 8px 0;
	vertical-align: top;
	width: auto;
	float: left;
	text-align: center;
}

/* gallery image */
.gallery img {
	border: none;
	vertical-align: middle;
}

/* gallery caption */
.gallery .gallery-caption {
	line-height: 120%;
	font-size: 90%;
	text-align: center;
	margin: 5px 0 0;
}

/* GALLERY COLUMN
================================================ */
/* gallery column 1 (display all in one line) */
.gallery-columns-1 .gallery-item {
	width: auto;
}
.gallery-columns-1 br {
	display: none !important;
}

/* gallery column 2 */
.gallery-columns-2 .gallery-item {
	width: 49.2%;
}

/* gallery column 3 */
.gallery-columns-3 .gallery-item {
	width: 32.3%;
}
/* gallery column 4 */
.gallery-columns-4 .gallery-item {
	width: 23.8%;
}

/* gallery column 5 */
.gallery-columns-5 .gallery-item {
	width: 18.8%;
}

/* gallery column 6 */
.gallery-columns-6 .gallery-item {
	width: 15.4%;
}

/* gallery column 7 */
.gallery-columns-7 .gallery-item {
	width: 13%;
}

/* gallery column 8 */
.gallery-columns-8 .gallery-item {
	width: 11.18%;
}

/* gallery column 9 */
.gallery-columns-9 .gallery-item {
	width: 9.77%;
}

/* set gallery item margin-right */
.gallery-columns-1 .gallery-item,
.gallery-columns-2 .gallery-item,
.gallery-columns-3 .gallery-item,
.gallery-columns-4 .gallery-item,
.gallery-columns-5 .gallery-item,
.gallery-columns-6 .gallery-item,
.gallery-columns-7 .gallery-item,
.gallery-columns-8 .gallery-item,
.gallery-columns-9 .gallery-item {
	margin: 0 1.5% 1.5% 0;
}

/* clear gallery item margin-right */
.gallery-columns-9 .gallery-item:nth-of-type(9n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-2 .gallery-item:nth-of-type(2n) {
	margin-right: 0;
}

/* clear left gallery item different sizes */
.gallery-columns-9 .gallery-item:nth-of-type(9n + 1),
.gallery-columns-8 .gallery-item:nth-of-type(8n + 1),
.gallery-columns-7 .gallery-item:nth-of-type(7n + 1),
.gallery-columns-6 .gallery-item:nth-of-type(6n + 1),
.gallery-columns-5 .gallery-item:nth-of-type(5n + 1),
.gallery-columns-4 .gallery-item:nth-of-type(4n + 1),
.gallery-columns-3 .gallery-item:nth-of-type(3n + 1),
.gallery-columns-2 .gallery-item:nth-of-type(2n + 1) {
	clear: left;
}

/************************************************************************************
BUILDER
*************************************************************************************/
/* builder row */
.module_row > .row_inner,
.module-layout-part .module_row.fullwidth_row_container > .row_inner {
	width: 978px; /* same width as .pagewidth */
	max-width: 100%;
	margin: auto;
}
.module_row.fullwidth > .row_inner {
	width: 100%;
	padding: 0;
}

/************************************************************************************
CLEAR & ALIGNMENT
*************************************************************************************/
.clear {
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}
.textleft {
	text-align: left;
}
.textright {
	text-align: right;
}
.textcenter {
	text-align: center;
}

/* clearfix */
.clearfix:after, .widget li:after, #body:after, #footer:after, footer:after, .pagenav:after, #main-nav:after, .menu:after, .gallery:after, #content:after
{ visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix, .widget li, #body, #footer, footer, .pagenav, #main-nav, .menu, .gallery, #content
{ display: inline-block; }
/* clearfix for ie7 */
.clearfix, .widget li, #body, #footer, footer, .pagenav, #main-nav, .menu, .gallery, #content
{ display: block; }
